/* ============================= */
/* Basic page layout styles */

.wrapper {
  margin: 0 0.5rem;
  display: grid;
  grid-template-rows: max-content 1fr 90px;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1250px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header {
  margin: 1rem 0 3rem 1rem;
}

.subtitle {
  font-family: "Satisfy", monospace;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.5;
}

.subtitle__span {
  display: block;
  &::before {
    content: '#';
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
}

.title a {
  color: $title-color;
}

@media screen and (min-width: 768px) {
  .header {
    margin-left: 2rem;
  }
  .subtitle {
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 3rem 1rem;
  }
  .subtitle {
    text-align: right;
  }
  .subtitle__span {
    &::before {
      content: '';
    }
    &::after {
      content: '#';
      position: relative;
      top: 5px;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-left: 5rem;
  }
}

.nav-list {
  padding: 1rem 0;
  border: 1px solid transparent;
  border-top-color: $nav-list-border;
  border-bottom-color: $nav-list-border;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem 0.5rem 0;
  color: $nav-link;
  text-decoration: none;

}

.nav-text {
  padding-bottom: 0.2rem;
  transition: all 0.1s ease-in;
}

.nav-link.active .nav-text,
.nav-link:active .nav-text,
.nav-link:hover .nav-text,
.nav-link:focus .nav-text,
.nav-link:visited .nav-text {
  border-bottom: 2px dashed $nav-link-active;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-basis: 100%;
    margin-left: -1rem;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    padding: 0.5rem 1.2rem;
  }
  .nav-li:last-child .nav-link {
    border-right: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-link {
    padding: 0.5rem 2rem;
  }
}

.footer {
  align-self: center;
  text-align: right;
}
