/*======== Work samples page =========*/
.sample-heading {
  margin: 1rem 0;
}

.sample-pic-box .img-link:hover,
.sample-pic-box .img-link:active,
.sample-pic-box .img-link:focus,
.sample-pic-box .img-link:visited {
  outline: 3px solid $text-color;
  display: block;
}

.sample-pic {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid $text-color;
}

.sample-content {
  padding: 0.9rem 1.7rem 1rem 0.5rem;
}

.sample-list {
  list-style: disc;
  margin-left: 1rem;
}

.sample-link {
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .sample-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .sample-item-1col {
    flex-basis: 75%;
  }
  .sample-item-2col {
    flex-basis: 45%;
  }
  .sample-item-3col {
    flex-basis: 30%;
  }
}
