<header class="header">
  <a href="{{site.baseurl}}/" class="title">katrin k.</a>
  <div class="subtitle">
    <span class="subtitle__span">frontend developer by profession</span>
    <span class="subtitle__span">css developer by heart</span>
  </div>
  {% if page.url != "/" %}
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-li">
        <a href="{{site.baseurl}}/" class="nav-link">
          Home
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/freelance" class="nav-link{%if page.url == "/freelance/" %} active{%endif%}">
          Freelance Work
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/samples" class="nav-link{%if page.url == "/samples/" %} active{%endif%}">
          Previous Projects
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/community" class="nav-link{%if page.url == "/community/" %} active{%endif%}">
          Community
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/contact" class="nav-link{%if page.url == "/contact/" %} active{%endif%}">
          Contact
        </a>
      </li>
    </ul>
  </nav>
  {% endif %}
</header>
