<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="keywords"
    content="frontend, front end, frontend developer, freelance, web apps, VueJS, JS framework, CSS, style system, design system"
  />
  <meta
    name="description"
    content="Freelance frontend developer, Berlin and remote"
  />
  <meta name="subject" content="Frontend development by Katrin Kampfrath" />
  <link rel="stylesheet" href="{{ "assets/main.css" | absolute_url }}"> <link
  rel="icon" href="{{"favicon.png" | absolute_url }}"> <meta name="og:title"
  content="{{ page.og-title | default: "Website of Katrin Kampfrath" }}" />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="{{ page.url | absolute_url }}" />
  <meta name="og:image" content="{{"img/avatar-2019-400.jpg" | absolute_url }}"
  />
  <meta name="og:site_name" content="katrin k." />
</head>
