<header class="header">
  <h1 class="title"><a href="{{site.baseurl}}/">katrin k.</a></h1>
  <div class="subtitle">
    <span class="subtitle__span">frontend developer by profession</span>
    <span class="subtitle__span">css developer by heart</span>
  </div>
  {% if page.url != "/" %}
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-li">
        <a href="{{site.baseurl}}/" class="nav-link">
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/freelance" class="nav-link{%if page.url == "/freelance/" %} active{%endif%}">
          <span class="nav-text">Freelance Work</span>
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/samples" class="nav-link{%if page.url == "/samples/" %} active{%endif%}">
          <span class="nav-text">Previous Projects</span>
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/community" class="nav-link{%if page.url == "/community/" %} active{%endif%}">
          <span class="nav-text">Community</span>
        </a>
      </li>
      <li class="nav-li">
        <a href="{{site.baseurl}}/contact" class="nav-link{%if page.url == "/contact/" %} active{%endif%}">
          <span class="nav-text">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
  {% endif %}
</header>
