.nav-list {
  margin-left: 0;
  padding: 1rem 0;
  border: 1px solid transparent;
  border-top-color: $nav-list-border;
  border-bottom-color: $nav-list-border;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-bottom: 2px dashed transparent;
  color: $nav-link;
  text-decoration: none;
  transition: all 0.1s ease-in;
}

.nav-link.active,
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:visited {
  text-decoration: none;
  border-bottom-color: $nav-link-active;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-basis: 100%;
    margin-left: -1rem;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    margin: 0 0.5rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-link {
    margin: 0 1.5rem;
    padding: 0.5rem 1rem;
  }
}
