.cta__line {
  display: inline-block;
  margin: 3rem 0 2rem;
  border: 3px dotted $link-color-active;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.cta__link {
  padding-bottom: 0.2rem;
  font-weight: 600;
}

.cta__link:active,
.cta__link:hover,
.cta__link:focus,
.cta__link:visited {
  text-decoration: none;
  border-bottom: 2px dashed $link-color-active;
}
